<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center p-4">

<div class="bg-white rounded-2xl shadow-lg p-6 w-full max-w-xl">
    <h2 class="text-2xl font-bold mb-4 text-center text-gray-800">🔐 Реєстрація</h2>

    <form th:action="@{/register}" th:object="${user}" method="post" class="grid grid-cols-1 gap-4 mb-4">
        <input type="text" id="nickname" placeholder="Введіть нікнейм"
               class="w-full px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring focus:border-blue-400"
               th:field="*{nickname}">

        <div th:if="${error}" class="text-red-500 text-sm" th:text="${error}"></div>
        <div th:if="${success}" class="text-green-500 text-sm" th:text="${success}"></div>

        <button type="submit"
                class="w-full px-4 py-2 bg-blue-500 text-white font-semibold rounded-xl hover:bg-blue-600 transition">
            Зареєструватися
        </button>
    </form>
</div>

</body>
</html>